/* body */
body {
    background-image: url(pexels-photo-6153354.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: #333;
  }
  /* container */
  .container {
    max-width: 500px;
    color: white;
    margin: 40px auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
  }
  /* row */
  .row {
    margin-top: 20px;
  }
  /* h1 */
  h1 {
    font-weight: bold;
    color: #333;
  }
  /* label */
  label {
    display: block;
    margin-bottom: 10px;
  }
  /* input text */
  input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  /* input submit */
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  /* input submit hover */
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  /* select */
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  /* clearfix */
  .clearfix {
    margin-top: 20px;
  }
  /* cancelbth,signupbtn */
  .cancelbtn,.signupbtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  /* cancelbtn */
  .cancelbtn {
    background-color: #ccc;
    color: #333;
  }
  /* cancelbtn:hover */
  .cancelbtn:hover {
    background-color: #aaa;
  }
  /* signupbt */
  .signupbtn {
    background-color: #4CAF50;
    color: #fff;
  }
  /* signupbtn:hover */
  .signupbtn:hover {
    background-color: #3e8e41;
  }

  /* Add responsive design for the sign up form */

/* Medium Screen Size (768px - 992px) */

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 400px;
  }
  #service-form {
    width: 60%;
  }
  #service-select {
    height: 40px;
    padding: 10px;
    font-size: 16px;
  }
  #submit-btn {
    height: 40px;
    padding: 10px;
    font-size: 16px;
  }
}

/* Small Screen Size (480px - 767px) */

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 300px;
  }
  #service-form {
    width: 70%;
  }
  #service-select {
    height: 35px;
    padding: 8px;
    font-size: 14px;
  }
  #submit-btn {
    height: 35px;
    padding: 8px;
    font-size: 14px;
  }
}

/* Extra Small Screen Size (320px - 479px) */

@media (max-width: 479px) {
  .container {
    max-width: 250px;
  }
  #service-form {
    width: 80%;
  }
  #service-select {
    height: 30px;
    padding: 6px;
    font-size: 12px;
  }
  #submit-btn {
    height: 30px;
    padding: 6px;
    font-size: 12px;
  }
}